
* {
  margin: 0;
  padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }
  h1, label, span{ 
    text-align: center;
    color: rgb(220, 88, 16);
    font-weight: 600 ;
  }
   h2, h3, h4, a{
    text-align: center;
    color: rgb(107, 66, 171);
  }
  p{
    text-indent: 2rem;
  }
  .controls, select, option{
    font-size: 1.3rem;
    margin-bottom: 2rem;;
  }
  body {
    margin-top: 3rem;
    background-color: beige;
  } 
  
  section{
    width: 100%;
    margin:2% auto ;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 10%;
  }


  #canvas1{
    width: 100%;
    margin-bottom: -5px;
    margin-right: -2px;
    border: 4px solid rgb(220, 88, 16);
  }


  .canvas_container, .description, .slider {
    width: 75%;
    max-width: 800px;
    margin:  2% auto ;
  }

  .controls{
    text-align: center;
  }
  
